<a href="https://colab.research.google.com/github/quilaztlia/machine-learning-zoomcamp/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
print(pd.__version__)

database = pd.read_csv('ML/car_fuel_efficiency.csv');

print(database.columns)

print(database.head())

2.2.2
Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')
   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997
3                  220            4.0         NaN     2542.392402
4                  210            1.0       140.0     3460.870990

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0
3          20.2        2009     USA    Diesel    All-wheel drive        2.0
4          14.4        2009  Europe  Gasoline    All-wheel drive        2.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341
3            16.912736
4            12.488369

In [ ]:
# Q2. Records count How many records are in the dataset?

print(database.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB
None

In [ ]:
for column in database.columns:
    print(type(column))
    print(column + ' :'  + str( database[column].value_counts()))
    #print(column + ' :'  + str( database[column].count(x => x !=0)))

<class 'str'>
engine_displacement :engine_displacement
190    816
200    805
210    770
220    729
180    719
170    662
230    617
160    559
240    550
250    463
150    438
140    384
260    339
270    296
130    290
280    218
120    217
110    173
290    146
300    108
100     79
310     77
90      53
80      43
320     33
330     27
70      25
60      19
350     11
340     10
50       9
40       7
30       5
370      4
380      2
10       1
Name: count, dtype: int64
<class 'str'>
num_cylinders :num_cylinders
4.0     1858
3.0     1792
2.0     1395
5.0     1376
6.0      946
1.0      681
7.0      537
8.0      258
0.0      183
9.0      115
10.0      52
11.0      21
12.0       6
13.0       2
Name: count, dtype: int64
<class 'str'>
horsepower :horsepower
152.0    142
145.0    141
151.0    134
148.0    130
141.0    130
        ...
40.0       1
57.0       1
245.0      1
252.0      1
61.0       1
Name: count, Length: 192, dtype: int64
<class 'str'>
vehicle_weight :vehicle_weight
2908.043477    1
3413.433759    1
3149.664934    1
3079.038997    1
2542.392402    1
              ..
2783.868974    1
1967.200421    1
3111.810181    1
3509.036569    1
2714.219310    1
Name: count, Length: 9704, dtype: int64
<class 'str'>
acceleration :acceleration
15.6    163
15.2    152
14.5    147
15.8    147
15.5    147
       ...
22.9      1
7.3       1
6.4       1
24.3      1
7.8       1
Name: count, Length: 162, dtype: int64
<class 'str'>
model_year :model_year
2003    447
2002    446
2018    443
2004    440
2021    438
2015    435
2006    431
2010    428
2014    427
2005    427
2012    426
2016    424
2013    420
2019    420
2022    419
2008    415
2007    410
2011    404
2009    403
2020    400
2017    391
2001    388
2023    214
2000    208
Name: count, dtype: int64
<class 'str'>
origin :origin
Europe    3254
Asia      3247
USA       3203
Name: count, dtype: int64
<class 'str'>
fuel_type :fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64
<class 'str'>
drivetrain :drivetrain
All-wheel drive      4876
Front-wheel drive    4828
Name: count, dtype: int64
<class 'str'>
num_doors :num_doors
 0.0    3551
 1.0    2192
-1.0    2183
-2.0     594
 2.0     563
 3.0      58
-3.0      56
-4.0       4
 4.0       1
Name: count, dtype: int64
<class 'str'>
fuel_efficiency_mpg :fuel_efficiency_mpg
14.884467    1
13.231729    1
13.688217    1
14.246341    1
16.912736    1
            ..
16.175820    1
20.504447    1
13.386605    1
12.298355    1
16.823554    1
Name: count, Length: 9704, dtype: int64

In [ ]:
#Q3. Fuel types: How many fuel types are presented in the dataset?

print('fuel_type' + str( database['fuel_type'].value_counts()) )

fuel_typefuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [ ]:
#Question 4. How many columns in the dataset have missing values?
for c in database.columns:
    print(c + 'has missing values: ' + str( len(database[c]) - database[c].count()))

engine_displacementhas missing values: 0
num_cylindershas missing values: 482
horsepowerhas missing values: 708
vehicle_weighthas missing values: 0
accelerationhas missing values: 930
model_yearhas missing values: 0
originhas missing values: 0
fuel_typehas missing values: 0
drivetrainhas missing values: 0
num_doorshas missing values: 502
fuel_efficiency_mpghas missing values: 0

In [ ]:

print( database['fuel_efficiency_mpg'].max())

25.96722204888372

In [ ]:
#Q5:  What's the maximum fuel efficiency of cars from Asia?
print(database.columns)
print(database.info())
print(database.describe())

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB
None
       engine_displacement  num_cylinders   horsepower  vehicle_weight  \
count          9704.000000    9222.000000  8996.000000     9704.000000
mean            199.708368       3.962481   149.657292     3001.280993
std              49.455319       1.999323    29.879555      497.894860
min              10.000000       0.000000    37.000000      952.681761
25%             170.000000       3.000000   130.000000     2666.248985
50%             200.000000       4.000000   149.000000     2993.226296
75%             230.000000       5.000000   170.000000     3334.957039
max             380.000000      13.000000   271.000000     4739.077089

       acceleration   model_year    num_doors  fuel_efficiency_mpg
count   8774.000000  9704.000000  9202.000000          9704.000000
mean      15.021928  2011.484027    -0.006412            14.985243
std        2.510339     6.659808     1.048162             2.556468
min        6.000000  2000.000000    -4.000000             6.200971
25%       13.300000  2006.000000    -1.000000            13.267459
50%       15.000000  2012.000000     0.000000            15.006037
75%       16.700000  2017.000000     1.000000            16.707965
max       24.300000  2023.000000     4.000000            25.967222
5014    25.967222
5815    24.971452
9387    23.759123
560     23.556075
8300    23.369176
          ...
6049     6.805975
7938     6.762991
4935     6.695483
5037     6.676475
4887     6.200971
Name: fuel_efficiency_mpg, Length: 9704, dtype: float64

In [ ]:
print(database['origin'].value_counts())

asia_cars = database[database['origin'] =='Asia']

print(asia_cars['fuel_efficiency_mpg'].sort_values(ascending=False))

print(asia_cars['fuel_efficiency_mpg'].max())

# Check: (query) asia_max = database[database['origin'] =='Asia' and database]

origin
Europe    3254
Asia      3247
USA       3203
Name: count, dtype: int64
9387    23.759123
343     23.204566
7739    23.033673
9401    22.919968
5416    22.858156
          ...
2890     7.485553
9120     7.329314
6581     7.317353
3891     6.939508
1095     6.886245
Name: fuel_efficiency_mpg, Length: 3247, dtype: float64
23.759122836520497

In [ ]:
# Q6. Median value of horsepower
print(database.info())
print(database.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB
None
       engine_displacement  num_cylinders   horsepower  vehicle_weight  \
count          9704.000000    9222.000000  8996.000000     9704.000000
mean            199.708368       3.962481   149.657292     3001.280993
std              49.455319       1.999323    29.879555      497.894860
min              10.000000       0.000000    37.000000      952.681761
25%             170.000000       3.000000   130.000000     2666.248985
50%             200.000000       4.000000   149.000000     2993.226296
75%             230.000000       5.000000   170.000000     3334.957039
max             380.000000      13.000000   271.000000     4739.077089

       acceleration   model_year    num_doors  fuel_efficiency_mpg
count   8774.000000  9704.000000  9202.000000          9704.000000
mean      15.021928  2011.484027    -0.006412            14.985243
std        2.510339     6.659808     1.048162             2.556468
min        6.000000  2000.000000    -4.000000             6.200971
25%       13.300000  2006.000000    -1.000000            13.267459
50%       15.000000  2012.000000     0.000000            15.006037
75%       16.700000  2017.000000     1.000000            16.707965
max       24.300000  2023.000000     4.000000            25.967222

In [66]:
horsepower = database['horsepower'].sort_values(ascending=True)
print('isna: '+ str(horsepower.isna().sum())) #isnull

median_horsepower = len(horsepower)/2
print('Quotient: ' + str(median_horsepower))
print('Median: ' + str(horsepower[median_horsepower]))
print( 'giveMedian: ' + str(giveMedian(horsepower)) )
# Original Median: 104.0

print(horsepower.value_counts(ascending=False))


fill = horsepower.fillna(152.0)
print('horspowefillna: ' + str(fill.isna().sum()))
fillsorted = fill.sort_values(ascending=True)
print(fillsorted.value_counts(ascending=False))
median_horsepowerFillna = len(fillsorted)/2
print('Quotient: ' + str(median_horsepowerFillna))
print('Median: ' + str(fillsorted[median_horsepowerFillna]))
print( 'giveMedian: ' + str(giveMedian(fillsorted)) )

isna: 708
Quotient: 4852.0
Median: 104.0
giveMedian: 104.0
horsepower
152.0    142
145.0    141
151.0    134
141.0    130
148.0    130
        ...
231.0      1
245.0      1
246.0      1
252.0      1
271.0      1
Name: count, Length: 192, dtype: int64
horspowefillna: 0
horsepower
152.0    850
145.0    141
151.0    134
141.0    130
148.0    130
        ...
231.0      1
245.0      1
246.0      1
252.0      1
271.0      1
Name: count, Length: 192, dtype: int64
Quotient: 4852.0
Median: 104.0
giveMedian: 104.0

In [64]:
def giveMedian(data):
  sorted = data.sort_values(ascending=True)

  n = len(data)
  if(n%2 == 0):
    quotien = n//2
    median = data[quotien]
  else:
    upper_index = n//2
    lower = upper_index - 1
    middle = sorted[lower] + sorted[lower]
    median = middle/2

  return median

In [57]:
import statistics as stat

#print(database.info())
#print(database.describe())
print('isnull: '+ str(database['horsepower'].isna().sum()))
print('median: '+ str(stat.median(database['horsepower']))) # 165.0
print(database['horsepower'].value_counts())

filled = database['horsepower'].fillna(152.0  )
print(filled.value_counts())
print('isnull (filled): '+ str(filled.isna().sum()))
print('median (filled): ' + str(stat.median(filled)) )

isnull: 708
median: 165.0
horsepower
152.0    142
145.0    141
151.0    134
148.0    130
141.0    130
        ...
40.0       1
57.0       1
245.0      1
252.0      1
61.0       1
Name: count, Length: 192, dtype: int64
horsepower
152.0    850
145.0    141
151.0    134
148.0    130
141.0    130
        ...
40.0       1
57.0       1
245.0      1
252.0      1
61.0       1
Name: count, Length: 192, dtype: int64
isnull (filled): 0
median (filled): 152.0

In [59]:
import numpy as np
import math

array = np.array([3,7,4,5,10,4])
print(type(array), np.nanmedian(array))

x=np.array(database['horsepower'])
print('nan: '+ str(database['horsepower'].isna().sum()) + ' nanMedian: '+ str(np.nanmedian(x)) + ' Median: '+ str(np.median(x)) )


filled = database['horsepower']
filled = filled.fillna(152.0 )
y=np.array(filled)
print('nan: '+ str(filled.isna().sum()) + ' nanMedian: '+ str(np.nanmedian(y)) + ' Median: '+ str(np.median(y)) )
for l in filled:
    if math.isnan(l) or pd.isnull(l):
      print(l)

<class 'numpy.ndarray'> 4.5
nan: 708 nanMedian: 149.0 Median: nan
nan: 0 nanMedian: 152.0 Median: 152.0

In [79]:
#Q7 - Select all the cars from Asia
print(database.columns)

asia_cars = database[database['origin']  == 'Asia']
print(asia_cars, str(len(asia_cars)))

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')
      engine_displacement  num_cylinders  horsepower  vehicle_weight  \
8                     250            1.0       174.0     2714.219310
12                    320            5.0       145.0     2783.868974
14                    200            6.0       160.0     3582.687368
20                    150            3.0       197.0     2231.808142
21                    160            4.0       133.0     2659.431451
...                   ...            ...         ...             ...
9688                  260            4.0         NaN     3948.404625
9692                  180            3.0       188.0     3680.341381
9693                  280            2.0       148.0     2545.070139
9698                  180            1.0       131.0     3107.427820
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year origin fuel_type         drivetrain  num_doors  \
8             10.3        2016   Asia    Diesel  Front-wheel drive       -1.0
12            15.1        2010   Asia    Diesel    All-wheel drive        1.0
14            14.9        2007   Asia    Diesel    All-wheel drive        0.0
20            18.7        2011   Asia  Gasoline  Front-wheel drive        1.0
21             NaN        2016   Asia  Gasoline  Front-wheel drive       -1.0
...            ...         ...    ...       ...                ...        ...
9688          15.5        2018   Asia    Diesel    All-wheel drive       -1.0
9692          18.0        2016   Asia  Gasoline  Front-wheel drive        1.0
9693          15.6        2012   Asia    Diesel    All-wheel drive        0.0
9698          13.2        2005   Asia  Gasoline  Front-wheel drive       -2.0
9703          14.7        2005   Asia    Diesel    All-wheel drive       -1.0

      fuel_efficiency_mpg
8               16.823554
12              16.175820
14              11.871091
20              18.889083
21              16.077730
...                   ...
9688            11.054830
9692            11.711653
9693            17.202782
9698            13.933716
9703            14.884467

[3247 rows x 11 columns] 3247

In [80]:
#Select only columns vehicle_weight and model_year
asia_cars_segment = database[['vehicle_weight', 'model_year']]
print(asia_cars_segment)

      vehicle_weight  model_year
0        3413.433759        2003
1        3149.664934        2007
2        3079.038997        2018
3        2542.392402        2009
4        3460.870990        2009
...              ...         ...
9699     2981.107371        2013
9700     2439.525729        2004
9701     2583.471318        2008
9702     2905.527390        2011
9703     2908.043477        2005

[9704 rows x 2 columns]

In [81]:
#Select the first 7 values
asia_cars_segment7 = asia_cars_segment.head(7)
print(asia_cars_segment7)

   vehicle_weight  model_year
0     3413.433759        2003
1     3149.664934        2007
2     3079.038997        2018
3     2542.392402        2009
4     3460.870990        2009
5     2484.883986        2008
6     3006.542287        2012

In [83]:

#Get the underlying NumPy array. Let's call it X.
print(type(asia_cars_segment7))
X = np.array(asia_cars_segment7)
print(X)

<class 'pandas.core.frame.DataFrame'>
[[3413.43375861 2003.        ]
 [3149.66493422 2007.        ]
 [3079.03899737 2018.        ]
 [2542.39240183 2009.        ]
 [3460.87098999 2009.        ]
 [2484.88398604 2008.        ]
 [3006.54228722 2012.        ]]

In [96]:
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX =   X.T @ X
print(XTX)

[[64707732.45267162 42471352.31816065]
 [42471352.31816065 28264752.        ]]

In [97]:
#Invert XTX.
from numpy.linalg import inv
ainv = inv(XTX)
print(ainv)

[[ 1.12464107e-06 -1.68991495e-06]
 [-1.68991495e-06  2.57468996e-06]]

In [100]:
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = (ainv @ X.T) * y
print(w)

#What's the sum of all the elements of the result?
total = w.sum()
print(total)

[[ 0.49938695  0.19575819  0.04205227 -0.48218421  0.49719851 -0.65862131
  -0.02259355]
 [-0.67243962 -0.20184204 -0.00607175  0.78851268 -0.67602549  1.06780833
   0.11937053]]
0.4903094879707426